.filtre{
    border: 5px solid #000;
    width: 75%;
    margin: 10px 12%;
    position: relative;
    bottom: 20px;
    display: inline-block;
    color: #fff;
    font-family: "Abel","sans-serif";
    align-content: center;
    text-align: center;
    color: #193d83;
    background-color: #fff;
}
@media all and (max-width:768px) {
    .filtre{
        display: inline-block;
        width: 92%;
        margin: 0 3%;
        font-size: 0.9em;
        position: relative;
        bottom: 20px;
        background-color: #fff;
        border: 2px solid #000;
        color: #193d83;
    }
}
.filtre h4{
    width: 50%;
    margin: 0 25%;
    border: 0px solid saddlebrown;
    font-weight: 500px;
    color: #000;
}
@media all and (max-width:768px) {
    .filtre h4{
        width: 98%;
        margin: 0;
        display: inline-block;
        font-weight: 400px;
        font-size: 0.9em;
    }
}

.filtre .form-part{
    border: 0px solid orange;
    display: inline-block;
    margin: 0 4px;
    font-family: "Abel";
    height: 80px;
    width: 30%;
}
.filtre .form-parts{
    border: 0px solid black;
}
@media all and (max-width:768px) {
    .filtre .form-part{
        width: 33%;
        margin: 0;
        height: 55px;
        font-size: 0.9em;
        border: 0px solid red;
    }
    .filtre .form-parts{
        border: 0px solid green;
        display: flex;
    }
}
.filtre select{
    width: 99%;
    height: 30px;
    border: 1px solid #193d83;
    font-size: 0.9em;
}
.filtre legend{
    font-size: 0.9em;
}
@media all and (max-width:768px) {
    .filtre select {
        width: 99%;
        display: inline-block;
        height: 20px;
    }
}
.filtre input{
    background-color: #dde2e8;
    border: 1px solid #f8f9fa;
    width: 100%;
}
@media all and (max-width:768px) {
    .filtre input{
        width: 99%;
        height: 20px;
    }
}
.filtre button{
    display: inline-block;
    position: relative;
    background-color: #000;
    color: #fff;
    height: 40px;
    cursor: pointer;
    margin: 20px 0;
}
.filtre button:hover{
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
@media all and (max-width:768px) {
    .filtre button{
        width: 50%;
        height: 20px;
        margin: 0 25%;
        position: relative;
        bottom: 0;
        display: inline-block;
        background-color: #000;
        color: #fff;
        margin-bottom: 10px;
        font-size: 0.9em;
    }
}